.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.uppercase {
    text-transform: uppercase;
}

header {
    box-shadow: rgba(0, 0, 0, .35) 0px 5px 15px;
}

.semibold {
    font-weight: bolder;
}

.mx-2 {
    margin-left: 12px;
    margin-right: 12px;
}